* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

/* Hero styling */

.hero {
  background-color: #1f2937;
  padding: 10px 10% 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

a,
.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

.hero-space {
  display: flex;
  gap: 30px;
}

.hero .container {
  flex: 1;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero button {
  border: none;
  background-color: #3882f6;
  padding: 5px 20px;
  color: #e5e7eb;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 800;
}

.image {
  flex: 1;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}
